h1{
	text-align: center;
	margin-top: 50px;
	margin-right: 150px;
}
*{
	box-sizing : border-box;

}
.row{
	width : 100%;
}
#hey{
	
	position:relative;
	bottom  : 23px;
	left: 8px;
	margin: auto;
	margin-left: 250px;
	background-color: lightslategrey;
	border: 1px solid black;
	padding-left: 6px;
	padding-bottom: 4px;


}
#hello{
	position: relative;
	bottom: 23px;
	left : 8px;
	margin: auto;
	margin-left: 247px;
	background-color: lightsalmon;
	border: 1px solid black;
	padding-left: 2px;
	padding-bottom: 4px;
	
}

#okay{
	position : relative;
	bottom:  23px;
	left: 8px;
	margin: auto;
	margin-left: 200px;
	background-color: lightsteelblue;
	border: 1px solid black;
	padding-left: 7px;
	padding-bottom: 4px;
}


.row{
	width : 100%;
}



/*LARGE SCREEN*/
@media (min-width :992px){
	.lg-1{
		width : 25%;
		float: left;
		background-color: maroon;
	padding: 8px;
	box-sizing: border-box;
	margin : 0 15px;
	color: white;
	font-style: oblique;
	font-weight: bold;
	}

}
		
		


	

/*MEDIUM SCREENS*/
@media (min-width :768px) and (max-width:991px){
	.md-1{
		width : 45%;
		float: left;
		background-color: maroon;
	padding: 8px;
	box-sizing: border-box;
	margin : 0 15px;
	color: white;
	font-style: oblique;
	font-weight: bold;
	}
	.md-2{
		width : 45%;
		float: left;
		background-color: maroon;
	padding: 8px;
	box-sizing: border-box;
	margin : 0 15px;
	color: white;
	font-style: oblique;
	font-weight: bold;

	}
	.md-3{
		width: 91.66%;
		float: left;
		background-color: maroon;
	padding: 8px;
	box-sizing: border-box;
	margin : 20px;
	color: white;
	font-style: oblique;
	font-weight: bold;

	}
  
@media(max-width: 767px){
	.sm-2{
		width:100%;
		float: left;
		background-color: maroon;
	padding: 8px;
	box-sizing: border-box;
	margin : 20px;
	color: white;
	font-style: oblique;
	font-weight: bold;
	}
}

